@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Here at Wines Of The World we take pride in what we do. We lone to drink wine and we love to sell wine.
    You will not be dissapointed when you get any of our wines. From the time you open the bottle to the last 
    drop you will be extremely satified. We guarentee that or your next bottle is on us. 
</p>
<p>
    If you would like help picking out which wine will work best for you please feel free to give us a call and
    have one of our sommeliers help you.
</p>
