@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Wines Of The World<br />
    4444 Wine Drive Silicon Valley <br />
    <abbr title="Phone">P:</abbr>
    111.234.5678
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@wowtw.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@wotw.com</a>
</address>