@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wine Inventory</h1>
    <p class="lead">This is the main environment that you will use for maintaining the Wine Inventory.</p>
    <p><a href="http://smallbusiness.chron.com/inventory-wine-75630.html" class="btn btn-primary btn-lg">Learn how to Inventory Wine &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To begin workin on the Inventory you will need to log in first. If you do not have a login you can register to
            create one.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Our Wines</h2>
        <p>All of our Wines are created in house or imported from fine establishments.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Shipping</h2>
        <p>
            We offer next day shipping on everything you buy. If we do not have an item in stock we will guarentee 
            a discount on your next purchase.
        </p>
        
    </div>
</div>